/* General Styling Start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --pink: hsl(322, 100%, 66%);
    --LightPink: hsl(321, 100%, 78%);
    --LightRed: hsl(0, 100%, 63%);
    --DarkCyan: hsl(192, 100%, 9%);
    --PaleBlue: hsl(207, 100%, 98%);
}

body{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-weight: 400;
}

a, a.btn{
    text-decoration: none;
}

span{
    font-weight: 700;
}

h1, h2, h3{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 34px;
}

h3{
    font-size: 24px;
}

/* Start of Media Query of General Styling */
@media screen and (max-width:768px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 22px;
    }
    
    h3{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
}
/* End of Media Query of General Styling */
/* General Styling End */

/* Common Styling Start */
.container{
    width: 80%;
    margin: auto;
    position: relative;
}

.clear{
    clear: both;
}

a.btn{
    border-radius: 50px;
    font-weight: 600;
    padding: 5px 15px;
    letter-spacing: 0.5px;

}

a.primary-btn{
    background-color: var(--pink);
    color: white;
    padding: 18px 60px;
    box-shadow: 0 5px 5px 5px rgb(232, 232, 232);
    transition: background-color 500ms;

}

a.primary-btn:hover{
    background-color: var(--LightPink);
}

.items-layer{
    background-color: var(--PaleBlue);
    padding: 50px 0;
}

.wavy{
    display: block;
    width: 100%;
}

/* Start of Media Query of Common Styling */
@media screen and (max-width:768px){
    .container{
        width: 90%;
    }
    a.primary-btn{
        padding: 12px 30px;
    }
}
/* End of Media Query of Common Styling */
/* Common Styling End */

/* Header Section Start */
header .logo{
    width: 50%;
    float: left;
}

header .logo img{
    width: 25%;
}

header .nav-btn{
    width: 50%;
    float: right;
    text-align: right;
}

header .nav-btn > a{
    color: var(--pink);
    font-size: 14px;
    border: 1px solid var(--pink);
    box-shadow: 0 0 3px 1px rgb(232, 232, 232);
    transition: color 300ms, border 300ms;
}

header .nav-btn > a:hover{
    border: 1px solid var(--LightPink);
    color: var(--LightPink);
}

header{
    padding: 50px 0;
}

/* Start of Media Query of header section */
@media screen and (max-width:768px) {
    header .logo img{
        width: 70%;
    }
    
    header .nav-btn > a{
        font-size: 12px;

    }
}
/* End of Media Query of header section */
/* Header Section End */ 

/* Hero Section Start */
.hero-layer{
    position: relative;
    height: 60vh;
    width: 100%;
}

#hero-sec .hero-content{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
}

.hero-content h1{
    color: var(--DarkCyan);
    margin-bottom: 10px;

}

.hero-content h1 br{
    display: none;
}

.hero-content p{
    color: var(--DarkCyan);
    font-weight: 600;
    margin-bottom: 50px;
}

/* Start of Media Query of hero section */
@media screen and (max-width:768px) {
    .hero-content p br{
        display: none;
    }
}
/* End of Media Query of hero section */
/* Hero Section End */

/* Portfolio Section Start */
.screen-mockup{
    width: 73%;
    margin: auto;
    margin-bottom: 80px;
}
.screen-mockup img{
    width: 100%;
}

.communities-number, .messages-number{
    font-size: 60px;
    font-weight: 700;
    color: var(--DarkCyan);
    display: block;
    margin-bottom: 7px;
}

.communities-desc, .messages-desc{
    display: block;
    font-weight: 400;
    opacity: 0.7;
    color: var(--DarkCyan);
}

.portfolio-communities, .portfolio-mesages{
    width: 50%;
    float: left;
}

.portfolio-numbers{
    width: 65%;
    margin: auto;
    text-align: left;
    margin-bottom: 100px;
}

.portfolio-mesages{
    text-align: center;
    padding-left: 70px;
}

.portfolio-img{
    text-align: left;
}

.portfolio-communities img, .portfolio-mesages img{
    width: 35px;
}
.portfolio-mesages .portfolio-img img{
    margin-left: 70px;
}

/* Start of Media Query of Portfolio section */
@media screen and (max-width:768px) {
    .screen-mockup{
        width: 100%;
    }
    .portfolio-communities, .portfolio-mesages{
        width: 100%;
        float: none;
    }

    .portfolio-numbers{
        text-align: center;
    }
    .portfolio-mesages{
        padding-left: 0;
        margin-top: 100px;
    }

    .portfolio-communities .portfolio-img img, .portfolio-mesages .portfolio-img img{
        margin-left: 20px;
    }
}
/* End of Media Query of Portfolio section */
/* Portfolio Section End */


/* Grow Together, flow convrsation & your users Sections Start */
/* 1. Common styling start */
#grow-together-sec, #flow-conversation-sec, #your-users-sec{
    margin-bottom: 100px;
    
}

.grow-together-content, .grow-together-image, .flow-conversation-content, .flow-conversation-image, .your-users-content, .your-users-image{
    width: 50%;
}

.grow-together-content, .flow-conversation-image, .your-users-content{
    float: left;
}

.grow-together-image, .flow-conversation-content, .your-users-image{
    float: right;
}

.grow-together-image img, .flow-conversation-image img, .your-users-image img{
    width: 80%;
}

.grow-together-content h2, .flow-conversation-content h2, .your-users-content h2{
    margin-bottom: 20px;
}
.grow-together-content h2, .grow-together-content p, .flow-conversation-content h2, .flow-conversation-content p, .your-users-content h2, .your-users-content p{
    color: var(--DarkCyan);
}

.grow-together-content, .your-users-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.grow-together-image, .your-users-image{
    text-align: right;
}

/* 1. Common styling end */

/* 2. Grow Together Section Start */
/* Grow Together Section End */

/* 3. Flowing Conversation Section Start */
.flow-conversation-content{
    position: absolute;
    right: -9%;
    top: 50%;
    transform: translateY(-50%);
    
}
/* Flowing Conversation Section End */

/* 4. Your Users Section Start */
/* Your Users Section Start */

/* Start of Media Query of Grow Together, flow convrsation & your users Sections  */
@media screen and (max-width:768px) {
    #grow-together-sec, #flow-conversation-sec, #your-users-sec{
    margin-bottom: 50px;
    }
    
    .grow-together-content, .grow-together-image, .flow-conversation-content, .flow-conversation-image, .your-users-content, .your-users-image{
        float: none;
        width: 100%;
    }
    .grow-together-content, .your-users-content, .flow-conversation-content{
        position: static;
    }

    .grow-together-image, .flow-conversation-image, .your-users-image,     .grow-together-content, .your-users-content, .flow-conversation-content{
        text-align: center;
    }

    .grow-together-content p br, .your-users-content p br, .flow-conversation-content p br{
        display: none;
    }

    .grow-items, .users-items{
        display: flex;
        flex-direction: column-reverse;
    }

    .grow-together-image, .your-users-image, .flow-conversation-image{
        margin-bottom: 150px;
    }


}

/* End of Media Query of  Grow Together, flow convrsation & your users Sections */
/* Grow Together, flow convrsation & your users Sections End*/

/* Call To Action Section Start */
#cta-sec{
    text-align: center;
    margin-bottom: 100px;
}

#cta-sec h2{
    color: var(--DarkCyan);
    margin-bottom: 50px;
}

/* Start of Media Query of CTA section */
/* End of Media Query of CTA section */
/* Call To Action Section end */

/* Footer Section Start */
footer .layer{
    background-color: var(--DarkCyan);
    padding: 50px 0;
}

footer .footer-content, footer .footer-newsletter{
    width: 50%;
    float: left;
}

footer .footer-logo{
    margin-bottom: 15px;
} 

footer .footer-content{
    color: white;
}

footer .footer-content p{
    margin-bottom: 30px;
}

footer .footer-contact-icons i{
    color: white;
}

footer .footer-contact-icons a span{
    color: white;
    font-weight: lighter;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 15px;

}

footer .footer-contact-icons{
    margin-bottom: 30px;
}

footer .social-icons a{
    display: inline-block;
    color: white;
    font-size: 30px;
    margin-right: 15px;
}

footer .social-icons a:hover{
    color: rgb(60, 180, 249);
}

footer .footer-newsletter{
    color: white;
}

footer .footer-newsletter h3{
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

footer .footer-newsletter p{
    font-weight: lighter;
    margin-bottom: 30px;
}

footer .footer-newsletter form{
    width: 100%;
}

footer .footer-newsletter .form-input{
    width: 70%;
    float: left;
}

footer .footer-newsletter input{
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

footer .footer-newsletter .form-invalid::after{
    content: "Check your email please";
    color: var(--LightRed);
    display: none;
}

footer .footer-newsletter input:focus{
    border: 1px solid var(--LightRed);
}

footer .footer-newsletter input:focus + .form-invalid::after{
    display: block;
}


footer .footer-newsletter .form-submit{
    width: 30%;
    float: right;
}
footer .footer-newsletter button{
    width: 90%;
    background-color: var(--pink);
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 500ms;
}

footer .footer-newsletter button:hover{
    background-color: var(--LightPink);
}

/* Start of Media Query of Fotter section */
@media screen and (max-width:768px) {

    footer .footer-content, footer .footer-newsletter{
        float: none;
        width: 100%;
    }

    footer .footer-newsletter{
        margin-bottom: 100px;
    }
    
    .footer-items{
        display: flex;
        flex-direction: column-reverse;
    }

    footer .footer-newsletter p br{
        display: none;
    }

    footer .footer-newsletter .form-input, footer .footer-newsletter .form-submit{
        float: none;
    }

    footer .footer-newsletter .form-submit{
        width: 50%;
        margin-left: auto;
    }
    
    footer .footer-newsletter .form-input, footer .footer-newsletter button, footer .footer-newsletter input{
        width: 100%;
    }

    footer .footer-desc p br{
        display: none;
    }
/* End of Media Query of Fotter section */
/* Footer Section Start */
